
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

html,
body {
  font-family: "Pretendard Variable", sans-serif;
}

.progress {
  width: 400px;
  height: 8px;
  background-color: #e2e2e2;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 30px;

  transition: color .1s linear;
}

.progress-bar {
  height: 100%;
  transform: scaleX(0);
  border-radius: 4px;
  background-color: #2d2d2d;
  transform-origin: left center;
}

.progress-bar.transition {
  transition: all .1s linear;
}
  
.description {
  margin-top: 30px;
  position: relative;
  height: 19px;
}
  
.description span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 13px;
  color: #242424;
  opacity: 0;
  transition: opacity .1s linear;
}

.description span.on {
  opacity: 1;
}

.toast {
  opacity: 0;
  z-index: 10;

  position: fixed;
  overflow: hidden;
  visibility: hidden;

  padding: 15px 20px;
  border-radius: 30px;
  left: 50%;

  color: #fff;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.6);

  transform: translate(-50%, 10px);
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}

.toast.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

@media (prefers-color-scheme: dark) {
  .progress {
    background-color: #2d2d2d;
  }

  .progress-bar {
    background-color: #e2e2e2;
  }

  .description span {
    color: #e2e2e2;
  }
}

@media (max-width: 550px) {
  .progress {
    width: calc(100vw - 20px);
  }

  .mb\:w-full {
      width: 100%;
  }

  .mb\:w-screen {
      width: 100vw;
  }
}